<div class="w-[100%] flex flex-col items-center gap-3 border2 py-3">
  <div class="w-[90%] flex flex-col items-center justify-center gap-3">
    <h1 class="w-full text-start">Offline Devices</h1>
    <div
      class="w-full border p-3 rounded-lg flex items-center justify-between text-[16px] cursor-pointer"
      [ngStyle]="getstye()"
      *ngFor="let dt of offlineDevices"
      (click)="gotoOfflineDevice(dt?.deviceName)"
    >
      <div class="">
        <h1 class="">{{ dt?.deviceName }}</h1>
        <h1 class="font-thin">
          <i class="fa-solid fa-location-dot mr-2"></i> {{ dt?.location?.city }}
        </h1>
      </div>
      <h1>
        {{
          timeCalculation(calculateTime)
        }}
        ago
      </h1>
    </div>
  </div>
</div>
