<div class=" flex flex-col items-center  gap-5">
    <app-device-details class="w-[90%] " [data]="device"></app-device-details>
    <div
    class="first-one !w-[90%] !h-[400px] flex justify-center rounded-lg border-[1px] "
  >
    <app-line-chart
      class="chart w-full h-full"
      [dataOne]="dataOne"
      [dataTwo]="dataTwo"
      [totalData]="totalData"
    ></app-line-chart>
  </div>

  <div class="data-percent rounded-lg  w-[90%]">
    <app-data-percent
      [percentage]="percentOne"
      [dataName]="'Data - 0'"
      [bground]="'#6975ff'"
      class="item1"
    ></app-data-percent>
    <app-data-percent
      [percentage]="percentTwo"
      [dataName]="'Data - 1'"
      [bground]="'#64bdc6'"
      class="item2"
    ></app-data-percent>
    <app-data-percent
      [percentage]="Totalpercent"
      [dataName]="'Data - 2'"
      [bground]="'#084fd7'"
      class="item3"
    ></app-data-percent>
  </div>
  <div class="w-[90%] pt-4 border-2 rounded-lg mb-3">
    <h1 class="  px-5">Uptime Data</h1>
    <app-up-time-data [online]="onlineTime" [offline]="offlineTime"></app-up-time-data>
  </div>
</div>


