.data-percent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 13px;
}

@media (max-width: 720px) {
  .first-one {
    margin-top: 20px;
  }
  .data-percent {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .first-one {
    width: 95%;
    height: auto !important ;
  }
  .data-percent {
    gap: 10px;
  }
}
