.dash-board{
    height: calc(100vh - 122px);
}

.second-one{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width:900px){
    .second-one{
        width: 90%;
    }
    .first-one{
        width: 95%;
    }
    .second-one{
        display: grid;
        margin-top: 20px;
        grid-template-columns: 1fr ;
    }
}

@media(max-width:720px){
    .first-one{
        height: auto;
        margin-top: 20px;
    }
    .dash-board{
        justify-content: flex-start;
    }
   
}


.data-percent{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr !important;
}