.dash-board{
    height: calc(100vh - 122px);
}

.second-one{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width:900px){
    .first-one,.second-one{
        width: 95%;
    }
}

@media(max-width:720px){
    .dash-board{
        height: 100%;
    }
   .second-one{
        width: 95%;
        grid-template-columns: 1fr 1fr;
    }
}